MQTT_BROKER=local_ip_address_of_your_server
MQTT_PORT=1883
MQTT_USER=mqtt_user_example
MQTT_PASS=mqtt_password_example

MQTT_TOPIC_COMMAND=shpora_curtain/cover/curtain/command
MQTT_TOPIC_STATE=shpora_curtain/cover/curtain/state

YANDEX_TOKEN=super_secret_master_token_2026
