# Скопируйте этот файл в secrets.yaml перед компиляцией прошивки ESPHome

wifi_ssid: "YOUR_WIFI"
wifi_password: "YOUR_PASSWORD_WIFI"

mqtt_broker: "IP_ADDRESS_OF_YOUR_SERVER"
mqtt_username: "USERNAME"
mqtt_password: "PASSWORD"
