# Скопируйте этот файл в secrets.yaml перед компиляцией прошивки ESPHome

wifi_ssid: "GoshaHome"
wifi_password: "1122334455"

mqtt_broker: "192.168.88.252"
mqtt_username: "jezv"
mqtt_password: "1122334455"
